{% extends "layout.html" %}

{% block title %} Tutorial {% endblock %}

{% block styling %} 

<link rel="stylesheet" type="text/css" href="static/style.css" />

<!-- Google Font-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=KoHo&family=Roboto&display=swap" rel="stylesheet"> 

{% endblock %}

{% block lightbox %}

<!-- Lightbox -->
<link href="../../static/lightbox/lightbox.css" rel="stylesheet">

{% endblock %}

{% block header %} Tutorial Pages {% endblock %}</title>


{% block content %}

<section class="container">    

    <h2> Photos Tutorial Page </h2>

    <div class="pagination_area">
        <a href="/tutorials/8">PREV</a> | <a href="/tutorials/2">NEXT</a>
    </div>

    <!-- new tutorial container -->
    <article class="content tutorial_container single">

        <div class="image_container">
            
            <a href="../static/img/photos/IMG_4755.JPG" data-lightbox="tutorial" data-title="IMG_4755.JPG - ISO: 100 - Shutter Speed: 1/500 - Aperture: f/8 - Focal Length: 300mm"> 
                
                <img src="../static/img/photos/IMG_4755.JPG" class="photo" alt="IMG_4755.JPG - ISO: 100 - Shutter Speed: 1/500 - Aperture: f/8 - Focal Length: 300mm" title="IMG_4755.JPG - ISO: 100 - Shutter Speed: 1/500 - Aperture: f/8 - Focal Length: 300mm">                         
                            
                <span class="filename_tooltip">IMG_4755.JPG</span>
            
            </a>               

        </div>        

        <div class="photo_details">

            <h3>Introduction</h3>

            <p>Join me as I explain my observations and the choices behind the camera settings I use for my photos; things like aperture, ISO and shutter speed. </p>           

            <p>This first one Taken at the lowest possible ISO as it was a crisp February morning. A flying seabird was the focal point with ideal Aperture setting and only 500 shutter speed necessary with a slow flight speed and wings.</p>

            <p>ISO Choices are almost always easier when the Sun is shining!</p>    

        </div>  

    </article>    
        
    <div class="meta-data">
        <span><strong>Filename: </strong> IMG_4755.JPG</span>
        <span><strong>ISO: </strong> 100 </span> 
        <span><strong>Shutter Speed: </strong> 1/500 </span>
        <span><strong>Aperture: </strong>f/8 </span>
        <span><strong>Focal Length: </strong> 300mm </span>

    </div>        
    
    <hr /> 

    <div class="pagination_area">
        <a href="/tutorials/8">PREV</a> | <a href="/tutorials/2">NEXT</a>
    </div>
   

</section>

{% endblock %}

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script> -->

{% block scripts %}

<script type="text/javascript" src="static/scripts/app.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="static/lightbox/lightbox.js"></script>

 {% endblock %}