{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block styling %} 

<link rel="stylesheet" type="text/css" href="static/style.css" />
  
<!-- Google Font-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=KoHo&family=Roboto&display=swap" rel="stylesheet"> 

{% endblock %}

{% block header %} About the Site! {% endblock %}</title>


{% block content %}

<section class="container">
    
    <h2> About </h2>

    <article class="about">

        <p>Welcome again to my Flask Website project.  I wanted to create a website that combined 2 of my interests; Web Design and Photography.  It was built in Python and the Flask Framework to record my observations about the photos I take to enhance my photography skills and make them stick.</a></p>

        <p>My hope is that my photos will be good to look at but my observations will look at how I took them from a technical point of view.</a></p>

        <img src="../static/img/photos/IMG_4755.JPG" alt="img" title="img" id="main_img">
   

        <h2>More text</h2>

        <p>More content</p>

        
    </article>

</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/app.js"></script>
 {% endblock %}