{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block styling %} 

<link rel="stylesheet" type="text/css" href="static/style.css" />
  
<!-- Google Font-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=KoHo&family=Roboto&display=swap" rel="stylesheet"> 

{% endblock %}

{% block header %} About the Site! {% endblock %}</title>


{% block content %}

<div class="container">

    <div class="about">

        <h2> About </h2>

        <p>About - Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos similique soluta itaque architecto a illo beatae,</a></p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos similique soluta itaque architecto a illo beatae,</a></p>

    </div>

    <div>
        <img src="../static/img/IMG_4755.JPG" alt="img" title="img" id="main_img">
        <p>lorem</p>
        
    </div>

    <div>

        
    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/app.js"></script>
 {% endblock %}