<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styling %} {% endblock %}
    {% block lightbox %} {% endblock %}

    <title> {% block title %}  {% endblock %}- Flask Project </title>
</head>

<body>

    <header class="header">
        
        <h1> Photography Instructional Project:  <span class="python_flask">( {% block header %} {%endblock%} ) </span> </h1>
    
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/tutorials">Tutorial</a></li>
                <li><a href="/photos">Photo List</a></li>
            </ul>
        </nav>
    
    </header>

    {% block content %} {% endblock %}  


    {% block scripts %}
    {% endblock %}

    <div class="footer">
        <h2>A Flask Project with Python. <a href="https://github.com/jg-digital-media/jgdm_flask_project" target="blank">View Repository on GitHub</a></h2>
    </div>
    
</body>
</html>