{% extends "layout.html" %}

{% block title %} Photos Page {% endblock %}

{% block styling %} 

    <link rel="stylesheet" type="text/css" href="static/style.css" />  

    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo&family=Roboto&display=swap" rel="stylesheet" />
    
{% endblock %}

{% block header %} {{ super() }}  <span>Photo List </span> {% endblock %}</title>


{% block content %}

<section class="container">

    <article class="photo_content_container">
    
        <h2> Photos List </h2>

        <p> To come! </p>

    </article>
    

</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/photos.js"></script>
 {% endblock %}