{% extends "layout.html" %}

{% block title %} Photos Page {% endblock %}

{% block styling %} 

    <link rel="stylesheet" type="text/css" href="static/style.css" />  

    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo&family=Roboto&display=swap" rel="stylesheet" />
    
{% endblock %}

{% block header %} Photos | {{ super() }}  <span>photos.html template </span> {% endblock %}</title>


{% block content %}
    
<h2> Photos List</h2>

<p>To come!</p>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/photos.js"></script>
 {% endblock %}